<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.avans.glassy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nl.avans.glassy.Controllers.WijkActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.avans.glassy.Controllers.MapDetailActivity"
            android:label="@string/title_activity_map_detail" >
        </activity>

        <activity android:name="com.facebook.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />


        <activity
            android:name="nl.avans.glassy.Controllers.DetailMapActivity"
            android:label="@string/title_activity_map_detail" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="nl.avans.glassy.Controllers.FaqActivity"
            android:label="@string/title_activity_faq" 
            android:theme="@style/TransparentDetail">
        </activity>
        
        <activity
            android:name="nl.avans.glassy.Controllers.DetailGoededoelenActivity"
            android:label="@string/title_activity_goededoelen" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
                <activity
            android:name="nl.avans.glassy.Controllers.BuddyProfielActivity"
            android:label="@string/title_activity_buddyprofiel" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

    </application>

</manifest>